# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/
module/gen/assets/env/


# IntelliJ related
*.iml
*.ipr
*.iws
.idea/


# Visual Studio Code related
.vscode/


**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

app.*.symbols

app.*.map.json

/android/app/debug
/android/app/profile
/android/app/release
**/android/**/gradle-wrapper.jar
**/android/.gradle
**/android/captures/
**/android/gradlew
**/android/gradlew.bat
**/android/local.properties
**/android/**/GeneratedPluginRegistrant.java





*.g.dart


lib/firebase_options.dart
android/app/google-services.json
ios/Runner/GoogleService-Info.plist
ios/firebase_app_id_file.json


module\gen\lib\src\environment

.env
.env.*
*.env
module/gen/lib/src/environment/
module/gen/lib/src/asset/

.firebase/
firebase-debug.log
firestore-debug.log
database-debug.log
ui-debug.log
firebase-debug.*.log

*.p8
*.p12

*-service-account.json
service-account-*.json
serviceAccountKey.json

ios/Runner/GoogleService-Info.plist
ios/Pods/
ios/.symlinks/
ios/Flutter/flutter_export_environment.sh
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig

*.jks
*.keystore
android/key.properties
android/app/upload-keystore.jks

local.properties